<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="evo" value="https://nuget.evo.gz.cn/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    <add key="huawei" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" />
  </packageSources> 
</configuration>